<!DOCTYPE html>
<html>

<head>

	<!-- Meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Responsive -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

     <!-- Titulo -->
    <title>Autoservicios 2017</title>

    <!-- Roboto -->
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <!-- Favicon -->
    <link rel="icon" href="../assets/images/favicon.png" type="images/x-icon">

    <!-- Material Design -->
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-light_blue.min.css" /> 

    <!-- Google Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<!-- Body -->
<body>

    <!-- Barra de navegación -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Autoservicios 2017</span>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">MENU</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="/">Home</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content">
        <!-- Content -->
        <div class="demo-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
          <div class="demo-ribbon mdl-color--blue-200"></div>
          <main class="demo-main mdl-layout__content">
            <h2 align="center" class=" mdl-color-text--white text-shadow">Bienvenido a Autoservicios 2017 C.A.</h2>
            <a id="top"></a>
            <!-- Wide card with share menu button -->
            <style>
            	.demo-card-wide.mdl-card {
            		width: 600px;
            	}
            	.demo-card-wide > .mdl-card__title {
            		color: #fff;
            		height: 300px;

            		background: url('/images/welcome_card.jpg') center / cover;
            	}
            	.demo-card-wide > .mdl-card__menu {
            		color: #fff;	
            	}
            </style>

            <div align="center">
            	<div class="demo-card-wide mdl-card mdl-shadow--2dp" align="center">
            		<div class="mdl-card__title">
            			<h2 class="mdl-card__title-text">Bienvenido</h2>
            		</div>
            		<div class="mdl-card__supporting-text">
            			<big>Si es un nuevo cliente por favor oprime Registrar. De lo contrario, oprime Buscar.</big>
            		</div>
            		<div class="mdl-card__actions mdl-card--border">
            			<div class="m-t-20">
            				<a href="/registrar" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect mdl-color--blue-900">Registrar</a>
            				<a href="/login" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect mdl-color--blue-900">Entrar</a>	
            			</div>
            			
            		</div>
            	</div>
            </div>
            
          </main>

          
        </div>
            
        </div>
      </main>
    </div>

    <!-- Material Design Lite -->
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>

</html>